body {
    background-color: antiquewhite;
    margin: 0;
}

div {
    color: darkblue;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    background-color: coral;
    font-weight: 700;
}

img {
    border-radius: 25px;
    width: 250px;
}

body {
    align-content: center;
}

ul {
    list-style-type: none;
}

li {
    font-size: 30px;
}

.vac {
    width: 500px;
}